#button {
  padding-left: 40px;
  padding-top: 40px;
  color: black;
}

#NavCSS {
  color: #FCA205;
  padding-right: 50px;
}

#title {
  font-size: 72px;
  padding-bottom: 50px;
  padding-left: 25px;
}

#img {
  font-size: 72px;
  margin-left: 1500px;
  width: 600px;
  height: 400px;
}

#customer {
  color: Orange;
  font-size: 24px;
  padding-left: 50px;
  font-size: 40px;
}

p {
  font-size: 24px;
  padding-left: 50px;
  width: 800px;
}

body {
  background-color: gray;
}
