{% load staticfiles %}
<html>

<head>
  <title>Django Financial</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>

<body>
  <div class="page-header">
    <h2><a href="/">Home</a></h2>
    <h2><a href="{% url 'customer_list' %}">Django Customer</a></h2>
    <h2><a href="">Django Admin</a></h2>
  </div>

  <div class="content container">
    <h1>Django Customer</h1>

    <div class="row">
      <div class="col-md-8">
        {% for customer in customers %}
        <div class="date">
          <h1><a href="{% url 'customer_details' pk=customer.pk %}">{{ customer.customer_Name }}</a>
        </div>
        {% endfor %}
        <a href="{% url 'customer_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>

      </div>
    </div>
  </div>
</body>

</html>
