 {% extends 'financial/base.html' %} {% load staticfiles %}

<html>

<head>
  <title>Django Financial</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{% static 'css/financial.css' %}">
</head>

{% block content %}
<h1 id="title">Django Customers</h1>
 {% for customer in customers %}
<h1><a href="{% url 'customer_details' pk=customer.pk %}" id="customer">{{ customer.customer_Name }}</a>
  {% endfor %}
        <dt>  <a href="{% url 'customer_new' %}" class="top-menu, glyphicon glyphicon-plus" id="button"></span></a> </dt>
  {% endblock %}
</html>
