{% extends 'financial/base.html' %} {% block content %}

<div class="financial">
  <h1>Django Customer Details</h1> {% if customer.customer_Name %}
  <div class="date">
  </div>
  {% endif %}
  <h3>______________________________</h3>
  <h3>{{ customer.customer_Name }}</h3>
  <p>{{ customer.customer_StreetAddress|linebreaksbr }}</p>
  <p>{{ customer.customer_City|linebreaksbr }}</p>
  <p>{{ customer.customer_State|linebreaksbr }}</p>
  <p>{{ customer.customer_ZIP|linebreaksbr }}</p>
  <p>{{ customer.customer_Email|linebreaksbr }}</p>
  <p>{{ customer.customer_Phone|linebreaksbr }}</p>
  <a class="btn btn-default" href="{% url 'customer_edit' pk=customer.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
</div>
{% endblock %}
