{% extends 'financial/base.html' %} {% load staticfiles %}
<html>

<head>
  <title>Django financial</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{% static 'css/financial.css' %}">
</head>
<div>
  {% block content %}
  <h1 id="title">Welcome to Django financial</h1>
  <p id="description">Django Financial is a project that allows a financial advisors to add and remove customers and alter their demographics. On top of that the financial advisor will be able to add, update, and delete stock and cyrptocurrencies that the customer has.</p>
  <img id="img" src="https://upload.wikimedia.org/wikipedia/commons/a/a0/Ticker_board_of_Tokyo_stock_exchange.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236"> {% endblock %}

</html>
